body {
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.6;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.welcome-body {
  background: url("/images/welcome-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.welcome-body .container-fluid {
  margin-top: 7%;
  margin-bottom: 7%;
}

.welcome-wrapper .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 1.5rem 2rem;
  background-color: rgba(10, 40, 64, 0.2);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0.2rem 0.15rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.2rem 0.15rem rgba(0, 0, 0, 0.5);
}

.welcome-wrapper .card .welcome-left {
  padding: 0 7% 0 7%;
}

.welcome-wrapper .card .welcome-left .welcome-profile-img {
  display: block;
  border-radius: 50%;
  margin: 1rem auto 1.5rem;
  padding: 0.1rem 0 0.1rem 0.1rem;
  border: 2px solid #5d5e65;
  max-height: 35%;
  width: auto;
}

.welcome-wrapper .card .welcome-left .card-title {
  text-align: left;
  font-family: "Fira Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3rem;
  color: #40444a;
  letter-spacing: 0.5px;
  line-height: 1;
  margin: .75rem 0 0;
}

.welcome-wrapper .card .welcome-left .card-body {
  padding-left: 0;
  text-align: left;
  font-family: "Merriweather", serif;
  text-transform: lowercase;
  font-weight: 600;
  color: #585d65;
}

.welcome-wrapper .card .welcome-right {
  margin: 0.5rem 0;
  padding: 0 2rem 0 0;
}

.welcome-wrapper .card .welcome-right ul {
  list-style-type: none;
  text-align: right;
  padding: 1rem 0rem 1rem 0;
  margin-bottom: 0;
}

.welcome-wrapper .card .welcome-right ul li {
  margin: auto;
  padding: 0.5rem 0.25rem;
}

.welcome-wrapper .card .welcome-right ul li a.welcome-btn {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(151, 156, 159, 0.65);
  border-color: #5d5e65;
  border-width: medium;
  color: #40444a;
  text-transform: uppercase;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  min-width: 100%;
  border-radius: 10px;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.welcome-wrapper .card .welcome-right ul li a.welcome-btn:hover {
  background-color: #145182;
  border-color: #0A2840;
  -webkit-box-shadow: 0 0.15rem 0.1rem 0 #0A2840;
          box-shadow: 0 0.15rem 0.1rem 0 #0A2840;
  color: #ced9ee;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.welcome-wrapper .card .welcome-right ul li a.welcome-btn:focus {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: inset 0 0 0.2rem 0.1rem #0A2840;
          box-shadow: inset 0 0 0.2rem 0.1rem #0A2840;
}

.welcome-wrapper .card .welcome-right hr {
  background-color: #5d5e65;
  border: 0.07rem inset #979c9f;
}

.welcome-wrapper .card .welcome-right ul.welcome-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.welcome-wrapper .card .welcome-right ul.welcome-links li {
  margin: 0;
  padding: 0;
}

.welcome-wrapper .card .welcome-right ul.welcome-links li a {
  font-size: 2.7rem;
  text-decoration: none;
  color: #5d5e65;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.welcome-wrapper .card .welcome-right ul.welcome-links a.fa-linkedin:hover {
  color: #0e76a8;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.welcome-wrapper .card .welcome-right ul.welcome-links li a.fa-facebook:hover {
  color: #3b5998;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.welcome-wrapper .card .welcome-right ul.welcome-links li a.fa-twitter:hover {
  color: #00acee;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.welcome-wrapper .card .welcome-right ul.welcome-links li a.fa-instagram:hover {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
/*# sourceMappingURL=main.css.map */